#container {
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  font-family: "Lucida Grande", "Lucida Sans Unicode", Verdana, Arial, Helvetica, sans-serif;
}

#controls input {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  padding: 0;
  margin: 0 10px 0 0;
  border: none;
  border-bottom: 1px solid #d8d8d8;
  border-right: 1px solid #d8d8d8;
  background-color: #f8f8f8;
  line-height: 59px;
  width: calc(33.33333% - 18px);
  outline: 0;
  box-shadow: 0 0 6px gray;
}

#controls input:first-child {
  //border-left: 1px solid gray;
  margin-left: 10px;
}

#controls input:active {
  box-shadow: none;
}

#logger {
  height: calc(100% - 60px);
  width: 100%;
}

#temperature {
  font-weight: bold;
  color: #bbb;
  font-size: 600%;
  position: absolute;
  margin: 0;
  padding: 0;
}

#log-chart {
  height: 100%;
  width: 100%;
}

