#container, .dialog {
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  font-family: "Lucida Grande", "Lucida Sans Unicode", Verdana, Arial, Helvetica, sans-serif;
}

#logger {
  height: 85%;
  width: 100%;
}

.log-chart {
  height: 100%;
  width: 100%;
}

.log-gauge {
  height: 50%;
  width: 30%;
  position: absolute;
  z-index: 99;
}
#logger h1 {
  float: right;
}

#controls {
  height: 15%;
}

.buttons {
  display: table;
  width: 100%;
  text-align: center;
  height: 100%;
}

.buttons a {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  border-top: 1px solid gray;
  width: 10%;
  background-color: #f8f8f8;
}

.buttons a+a {
  border-left: 1px solid gray;
}

.dialog {
  background-color: rgba(200, 255, 255, .6);
  z-index: 9999;
}

.dialog form {
  position: absolute;
  background-color: white;
  border: 1px solid #eee;
  margin: auto;
  top: 25%;
  left: 25%;
  width: 50%;
  border-radius: 3pt;
}

.dialog .content {
  margin: 12pt;
}

.dialog .buttons {
  line-height: 20pt;
}

