<!doctype html>
<html>
 <head>
   <title>Brewgear &pi;</title>
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <meta name="apple-mobile-web-app-capable" content="yes" />
<!--
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.6/angular.js"></script>
-->
  <link rel="stylesheet" href="css/app.css"/>
 </head>
 <body ng-app="brewberry">
  <div id="container">
   <div id="logger" ng-controller="Logger">
    <h1>{{sample.temperature | number:2}}</h1>
    <log-chart></log-chart>
   </div>

   <div id="controls" ng-controller="Controls">
    <a ng-click="startHeater()"><span>Start</span></a>
    <a ng-click="stopHeater()"><span>Stop</span></a>
    <a><span>Mash scheme</span></a>
   </div>
  </div>

  <script src="js/jquery.js"></script>
  <script src="js/highcharts.js"></script>
  <script src="js/angular.js"></script>
  <script src="js/angular-directives.js"></script>
  <script src="js/logger.js"></script> 
  <script src="js/controls.js"></script> 
 </body>
</html>
